body {
    grid-template-rows: 1fr 2fr 40fr 2fr;
    grid-template-columns: 2fr
    grid-template-areas:
        "menu"
        "nav"
        "main"
        "pie";
    /* background-color: #997653; */
}

menu {
    grid-area: menu;
    background-color: #7d4c22;
    height: 85px
}

menu ul {
    visibility: hidden;
}

nav {
    grid-area: nav;
    background-color: #c2b39f;
}

nav select {
    width: 100%;
}

nav h4 {
    display: flex;
    justify-content: center;
}

main {
    grid-area: main;
    background-color: #b4997b;

}

.card {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 85%;
    padding-top: 5px;

}

main img {
    width: 80%;
}

main h1 {
    display: grid;
    font-size: small;
    justify-content: center;
    justify-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    justify-items: center;
    gap: 10px
}



footer {
    grid-area: pie;
    background-color: #2e1e12;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
.iconos{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}



@media (min-width: 576px) {
    body {
        display: grid;
        grid-template-columns: 2fr 10fr;
        grid-template-rows: auto;
        grid-template-areas:
            "menu nav "
            "menu main"
            "menu pie";
    }

    menu {
        grid-area: menu;
        background-color: #7d4c22;
        height: 100%;

    }

    menu ul {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        visibility: visible;

    }

    .icono {
        font-size: 0rem;
    }

    nav {
        grid-area: nav;
        background-color: #c2b39f;

    }

    main {
        grid-area: main;
        background-color: #b4997b;
    }

    footer {
        grid-area: pie;
        background-color: #2e1e12;
    }

    .grid-container {
        grid-template-columns: ;
        grid-template-areas:
            "menu nav "
            "menu main"
            "menu main"
            "menu pie";
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .iconos {
        display: flex;
        justify-content: center;
        font-size: 2rem;
    }


}